h1{
    text-align: center;
}
h2{
    color: rgb(68, 203, 68);
    border-bottom: 1px solid;
    border-color: rgb(189, 189, 189);
}
h3{
    color: rgb(249, 197, 66);
}

.letraVerde{
    color: rgb(46, 164, 46);
}
.letraAmarilla{
    color: rgb(237, 181, 39);
}
.bordeDiv{
    border: 1px solid;
    padding: 10px;
    border-color:rgb(189, 189, 189);
    margin: 10px;
    padding-left: 20px; 
}
.flexContainer{
    display: flex;
    width: 900px;
    margin: auto auto;
}
.leftSide{
    width: 150px;
}
.rightSide{
    width: 750px;
}
